.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-width: 45%;
  background-color: rgb(14, 14, 14);
  .welcome-message {
    color: white;
    padding: 28px;
    margin-left: 100px;
    border-left: solid 5px grey;
    font-family: monospace;
  }
}
.right-div {
  height: 100%;
  min-width: 55%;
  background-color: rgb(52, 52, 52);
}
@media screen and (max-width:1024px){
  .main {
    flex-direction: column;
  }

}
