<div class="navigation">
  <div class="my-name col-4">
    <h4>Dziugas Bartkevicius</h4>
  </div>
  <div class="links col-8">
      <li>about</li>
      <li>projects</li>
      <li>personal blog</li>
  </div>
</div>
