
  <div class="main">
    <div class="left-div">
      <div class="welcome-message">
        <h2>Hi, I'm Dziugas Bartkevicius.</h2>
        <h2>Junior web developer</h2>
        <h2>based in London.</h2>
      </div>
    </div>
    <div class="right-div">
  </div>
</div>
