<div class="container-fluid">
  <div class="row">
    <div class="left-div col-12 col-lg-5">
    </div>
    <div class="right-div col-12 col-lg-7">
    </div>
  </div>
</div>


<h1>hi these are my posts</h1>

<% @posts.each do |post| %>
<li><%= post.title %></li>
<li><%= post.content %></li>
<li>Published <%= time_ago_in_words(post.created_at) %> ago</li>
<% end %>
