.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  width: 100%;
  padding: 0 24px;
  background-color: black;
  ul {
    height: 12vh;
    align-content: center;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: blue;
        }
      }
    }
  }
}

.my-name {
  letter-spacing: 2px;
  color: white;
  h4 {
    font-family: $font-kanit;
    font-size: 32px;
  }
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 25%;
  margin-bottom: inherit;
  font-family: monospace;
  height: 100%;
}

.burger {
  display: none;
}
.burger div {
  height: 5px;
  width: 30px;
  background-color: white;
  margin: 7px;
  border-radius: 2px;
  transition: all 2s ease;
}
@media screen and (max-width:768px){
  .burger {
    display: block;
    cursor: pointer;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: black;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.75s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
}

@media screen and (max-width:1024px){
  .nav-links {
    width: 40%;
  }
}

.nav-active {
  transform: translateX(0%);
  li {
    // transition: transform 0.5s ease-in;
    opacity: 1;
    transition: all 1.5s ease-in;
  }
}
.open .line1 {
  transform: rotate(1turn);
  background-color: yellow;
  // transform: rotate(-45deg) translate(-5px,6px);
}
.open .line2 {
  transform: rotate(2turn);
  // width: 34px;
  // transform: translate(-200px,0px) rotate3d(1, 1, 1, 45deg);
  background-color: green;
}
.open .line3 {
  transform: rotate(3turn);
  background-color: red;
  // transform: rotate(45deg) translate(5px,-6px);
}
